.slide {
    max-width: 450px
}
:global(.vtex-button) {
    border: none;
}

:global(.vtex-button__label) {
    color: #3C3C3C;
    background-color: #59ff00;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    /* padding: 6px 16px; */
    font-size: 16px;
    min-width: 64px;
    box-sizing: border-box;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
}

